<!DOCTYPE HTML>
<html>
	<head>
		<title>Info Monitor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="CSS/main.css" />
		<noscript><link rel="stylesheet" href="CSS/noscript.css" /></noscript>
	</head>
	<body>
		<div class="static-header">
			<div class="digital-date-time">
				<div class="js-digital-clock">00:00</div>
				<div class="js-date"></div>
			</div>
			<div class="circle-wrapper">
				<div class="">Молодша школа</div>
				<div class="circle-countdown first-circle-countdown" data-date="2017-09-01 00:00:00"></div>
			</div>

			<div class="circle-wrapper">
				<div class="">Середня школа</div>
				<div class="circle-countdown second-circle-countdown" data-date="2017-09-01 00:20:00"></div>
			</div>

			<div class="circle-wrapper">
				<div class="">Старша школа</div>
				<div class="circle-countdown third-circle-countdown" data-date="2017-09-01 00:40:00"></div>
			</div>
		</div>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">1 Вересня<br/> перший дзвоник</h1>
									<p>
										День знань був оголошений державним святом в 1980 році, але
										тільки у 1984 його масово відзначили у всіх радянських школах.
										Зробити першим навчальним днем саме 1 Вересня вирішили комуністи –
										в 1935 році вони зобов’язали всі навчальні заклади починати навчальний
										рік у перший день осені. До цього в країні не було єдиної дати початку шкільних занять.
										<br/>
										Зараз День знань не є навчальним днем. Ранок починається на шкільних
										подвір’ях традиційної лінійкою, першим дзвінком і морем квітів. Потім
										у класах проводять Урок Світу, після якого дітей чекають різноманітні розважальні заходи.
									</p>
									<ul class="actions">
										<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="Images/pic01.jpg" alt="" />
								</div>
							</section>

						<!-- Panel (Weather) -->
							<section class="panel spotlight medium right" id="first">
								<div id="weather-background" class="default-weather" style="width: 100%; pointer-events: none">
					        <canvas id="rain-canvas"></canvas>
					        <canvas id="cloud-canvas"></canvas>
					        <canvas id="weather-canvas"></canvas>
					        <canvas id="time-canvas"></canvas>
					        <canvas id="lightning-canvas"></canvas>
							    <div class="page-wrap">
						        <div id="geo-error-message" class="geo-error-message hide">
											<button id='close-error' class='fa fa-times close-error'></button>
											Uh oh! It looks like we can't find your location. If you're using an Adblocker,
											it may block our ability to find your location. Please type your city into the search box above!
										</div>
						        <div id="front-page-description" class="front-page-description middle">
						            <h1>Погода всьо</h1>
						            <h2>¯ \ _ (ツ) _ / ¯</h2>
						        </div>
						        <div id="weather" class="weather middle hide">
					            <div class="location" id="location"></div>
					            <div class="weather-container">
				                <div id="temperature-info" class="temperature-info">
			                    <div class="temperature" id="temperature"></div>
			                    <div class="weather-description" id="weather-description"></div>
				                </div>
				                <div class="weather-box">
			                    <ul class="weather-info" id="weather-info">
		                        <li class="weather-item humidity">
															Вологість:
															<span id="humidity"></span>%
														</li>
		                     		<li class="weather-item wind">
															Вітер:
															<span id="wind-direction"></span>
															<span id="wind"></span>
															<span id="speed-unit"></span>
														</li>
			                    </ul>
				                </div>
					            </div>
						        </div>
							    </div>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Amet lorem</h2>
									<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										<li><span class="icon fa-diamond"><span class="label">Lorem</span></span></li>
										<li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
										<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
										<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
										<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
									</ul>
								</div>
							</section>

						<!-- Panel (Birthday) -->
							<section class="panel spotlight large left">
								<div class="content span-5 birthday">
									<h1 class="major">Happy Birthday!</h1>
									<div class="people">
										<div class="person">
											<img class="avatar" src="https://placeimg.com/150/150/any">
											<h4>Темний Ярослав</h4>
										</div>
										<div class="person">
											<img class="avatar" src="https://placeimg.com/100/100/people">
											<h4>Квочкін Микола</h4>
										</div>
										<div class="person">
											<img class="avatar" src="https://placeimg.com/640/480/people">
											<h4>Колія Данк</h4>
										</div>
										<div class="person">
											<img class="avatar" src="https://placeimg.com/500/400/any">
											<h4>Бамбіт Денис</h4>
										</div>
										<div class="person">
											<img class="avatar" src="https://placeimg.com/500/400/people">
											<h4>Зливай Олег</h4>
										</div>
									</div>
								</div>
								<div class="image filtered tinted" data-position="top right">
									<img src="Images/pic03.jpg" alt=""/>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Elit integer</h2>
									<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="Images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom"><img src="Images/gallery/thumbs/01.jpg" alt="" /></a>
										<a href="Images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center"><img src="Images/gallery/thumbs/02.jpg" alt="" /></a>
										<a href="Images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom"><img src="Images/gallery/thumbs/03.jpg" alt="" /></a>
									</div>
									<a href="Images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top"><img src="Images/gallery/thumbs/04.jpg" alt="" /></a>
									<div class="group span-4-5">
										<a href="Images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top"><img src="Images/gallery/thumbs/05.jpg" alt="" /></a>
										<a href="Images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><img src="Images/gallery/thumbs/06.jpg" alt="" /></a>
										<a href="Images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><img src="Images/gallery/thumbs/07.jpg" alt="" /></a>
										<a href="Images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top"><img src="Images/gallery/thumbs/08.jpg" alt="" /></a>
									</div>
									<a href="Images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="Images/gallery/thumbs/09.jpg" alt="" /></a>
								</div>
							</section>

						<!-- Panel (Awards) -->
							<section class="panel spotlight large left">
								<div class="content awards">
									<h1 class="major">Наші перемоги</h1>
									<div class="events">
										<div class="award">
											<div class="badge">
												<img src="Images/awards/medal.png">
											</div>
											<div class="description">
												<h4>Темний Ярослав</h4>
												<p>3 місце Олімпіада з Лабуди</p>
											</div>
										</div>
										<div class="award">
											<div class="badge">
												<img src="Images/awards/diploma.png">
											</div>
											<div class="description">
												<h4>Темний Ярослав</h4>
												<p>Почесна грамота і не дуже багато тексту</p>
											</div>
										</div>
										<div class="award">
											<div class="badge">
												<img src="Images/awards/football.png">
											</div>
											<div class="description">
												<h4>5 класс</h4>
												<p>Перемога в турнірі за гаражами</p>
											</div>
										</div>
										<div class="award">
											<div class="badge">
												<img src="Images/awards/diploma.png">
											</div>
											<div class="description">
												<h4>Марія Ноуфамілія</h4>
												<p>Диплом невидомості 3 ступеня</p>
											</div>
										</div>
										<div class="award">
											<div class="badge">
												<img src="Images/awards/trophy.png">
										  </div>
											<div class="description">
												<h4>Закінчилась фантазія</h4>
												<p>Тут теж опиc</p>
											</div>
										</div>
									</div>
								</div>
								<div class="image filtered tinted" data-position="top right">
									<img src="Images/pic03_2.jpg" alt=""/>
								</div>
							</section>

						<!-- Panel (Timeline) -->
							<section class="panel color4-alt">
								<div class="timeline">
									<div class="line median"></div>

								  <div class="event">
								    <div class="event-wrapper top">
								      <div class="event-time">
								        <div class="day-digit">02</div>
								        <div class="day">
								           Листопада
								        </div>
								      </div>
								      <div class="event-description">Репетиція гей параду</div>
								    </div>
										<div class="line circle"></div>
								    <div class="time bot">14:20</div>
								  </div>

									<div class="line long"></div>

								  <div class="event">
								    <div class="event-wrapper bot">
								      <div class="event-time">
								        <div class="day-digit">10</div>
								        <div class="day">
								           Листопада
								        </div>
								      </div>
								      <div class="event-description">
												Свято 10 Листопада
											</div>
								    </div>
										<div class="line circle"></div>
								    <div class="time top">08:30</div>
								  </div>

									<div class="line long"></div>

									<div class="event">
								    <div class="event-wrapper top">
								      <div class="event-time">
								        <div class="day-digit">32</div>
								        <div class="day">
								           Листопада
								        </div>
								      </div>
								      <div class="event-description">
												Ще якесь свято
											</div>
								    </div>
										<div class="line circle"></div>
								    <div class="time bot">10:20</div>
								  </div>

									<div class="line long"></div>

								  <div class="event">
								    <div class="event-wrapper bot">
								      <div class="event-time">
								        <div class="day-digit">33</div>
								        <div class="day">
								           Листопада
								        </div>
								      </div>
								      <div class="event-description">
												Майстер клас приготування шаурми вокзальної. Біля вокзалу.
											</div>
								    </div>
										<div class="line circle"></div>
								    <div class="time top">08:30</div>
								  </div>

								  <div class="line median"></div>

								  <div class="now">Зараз</div>

								  <div class="line long"></div>

								  <div class="event future-gray">
								    <div class="event-wrapper top future-opacity">
								      <div class="event-time">
								        <div class="day-digit">05</div>
								        <div class="day">
								           Місяць
								        </div>
								      </div>
								      <div class="event-description">Канікули</div>
								    </div>
										<div class="line circle"></div>
								  </div>

									<svg height="5" width="50">
										<line x1="0" y1="0" x2="50" y2="0" style="stroke:rgba(255, 255, 255, 0.25);stroke-width:5" />
										</svg>
										<svg height="20" width="42">
										<line x1="1" y1="0" x2="1" y2="20" style="stroke:rgba(255, 255, 255, 0.25);stroke-width:2" />
										<circle cx="11" cy="10" r="3" fill="rgba(255, 255, 255, 0.25)" />
										<circle cx="21" cy="10" r="3" fill="rgba(255, 255, 255, 0.25)" />
										<circle cx="31" cy="10" r="3" fill="rgba(255, 255, 255, 0.25)" />
										<line x1="41" y1="0" x2="41" y2="20" style="stroke:rgba(255, 255, 255, 0.25);stroke-width:2" />
									</svg>

								</div>
							</section>

						<!-- Panel -->
							<section class="panel color2-alt">
								<div class="intro color2">
									<h2 class="major">Elements</h2>
									<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam. </p>
								</div>
								<div class="inner columns aligned">
									<div class="span-2-75">

										<h3 class="major">Text</h3>
										<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
										This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
										This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>

										<h1>Heading Level 1</h1>
										<h2>Heading Level 2</h2>
										<h3>Heading Level 3</h3>
										<h4>Heading Level 4</h4>
										<h5>Heading Level 5</h5>
										<h6>Heading Level 6</h6>

									</div>
									<div class="span-3">

										<h4>Blockquote</h4>
										<blockquote>Lorem ipsum dolor sit amet. Felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in vestibulum. Blandit adipiscing eu iaculis volutpat ac adipiscing volutpat ac adipiscing faucibus.</blockquote>

										<h4>Preformatted</h4>
										<pre>
											<code>
												i = 0;
												while (!deck.isInOrder()) {
												    print 'Iteration ' + (i++);
												    deck.shuffle();
												}
												print 'It took ' + i + ' iterations to sort the deck.';
											</code>
										</pre>
									</div>
									<div class="span-1-25">

										<h3 class="major">Lists</h3>

										<h4>Unordered</h4>
										<ul>
											<li>Lorem ipsum dolor sit.</li>
											<li>Dolor pulvinar etiam.</li>
											<li>Etiam vel felis viverra.</li>
										</ul>

										<h4>Alternate</h4>
										<ul class="alt">
											<li>Lorem ipsum dolor sit.</li>
											<li>Dolor pulvinar etiam.</li>
											<li>Etiam vel felis viverra.</li>
											<li>Felis enim feugiat.</li>
										</ul>

									</div>
									<div class="span-1-5">

										<h4>Ordered</h4>
										<ol>
											<li>Lorem ipsum dolor sit.</li>
											<li>Dolor pulvinar etiam.</li>
											<li>Etiam vel felis viverra.</li>
											<li>Felis enim feugiat.</li>
											<li>Etiam vel felis lorem.</li>
										</ol>

										<h4>Actions</h4>
										<ul class="actions">
											<li><a href="#" class="button special color2">Default</a></li>
											<li><a href="#" class="button">Default</a></li>
										</ul>
										<ul class="actions vertical">
											<li><a href="#" class="button special color2">Default</a></li>
											<li><a href="#" class="button">Default</a></li>
										</ul>

									</div>
									<div class="span-1-25">

										<h4>Icons</h4>
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
											<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
										</ul>

										<h4>Contact Icons</h4>
										<ul class="contact-icons color2">
											<li class="icon fa-twitter"><a href="#">Twitter</a></li>
											<li class="icon fa-facebook"><a href="#">Facebook</a></li>
											<li class="icon fa-instagram"><a href="#">Instagram</a></li>
											<li class="icon fa-github"><a href="#">GitHub</a></li>
											<li class="icon fa-medium"><a href="#">Medium</a></li>
										</ul>

									</div>
									<div class="span-3">
										<h3 class="major">Table</h3>
										<h4>Default</h4>
										<div class="table-wrapper">
											<table>
												<thead>
													<tr>
														<th>Name</th>
														<th>Description</th>
														<th>Price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Item One</td>
														<td>Ante turpis integer aliquet porttitor.</td>
														<td>29.99</td>
													</tr>
													<tr>
														<td>Item Two</td>
														<td>Vis ac commodo adipiscing arcu aliquet.</td>
														<td>19.99</td>
													</tr>
													<tr>
														<td>Item Three</td>
														<td> Morbi faucibus arcu accumsan lorem.</td>
														<td>29.99</td>
													</tr>
													<tr>
														<td>Item Four</td>
														<td>Vitae integer tempus condimentum.</td>
														<td>19.99</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="2"></td>
														<td>100.00</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<div class="span-3">
										<h4>Alternate</h4>
										<div class="table-wrapper">
											<table class="alt">
												<thead>
													<tr>
														<th>Name</th>
														<th>Description</th>
														<th>Price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Item One</td>
														<td>Ante turpis integer aliquet porttitor.</td>
														<td>29.99</td>
													</tr>
													<tr>
														<td>Item Two</td>
														<td>Vis ac commodo adipiscing arcu aliquet.</td>
														<td>19.99</td>
													</tr>
													<tr>
														<td>Item Three</td>
														<td> Morbi faucibus arcu accumsan lorem.</td>
														<td>29.99</td>
													</tr>
													<tr>
														<td>Item Four</td>
														<td>Vitae integer tempus condimentum.</td>
														<td>19.99</td>
													</tr>
													<tr>
														<td>Item Five</td>
														<td>Ante turpis integer aliquet porttitor.</td>
														<td>29.99</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="2"></td>
														<td>100.00</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<div class="span-2-25">
										<h3 class="major">Buttons</h3>
										<ul class="actions">
											<li><a href="#" class="button special color2">Special</a></li>
											<li><a href="#" class="button">Default</a></li>
										</ul>
										<ul class="actions">
											<li><a href="#" class="button">Default</a></li>
											<li><a href="#" class="button large">Large</a></li>
											<li><a href="#" class="button small">Small</a></li>
										</ul>
										<ul class="actions">
											<li><a href="#" class="button special color2 icon fa-cog">Icon</a></li>
											<li><a href="#" class="button icon fa-diamond">Icon</a></li>
										</ul>
										<ul class="actions">
											<li><span class="button special color2 disabled">Disabled</span></li>
											<li><span class="button disabled">Disabled</span></li>
										</ul>
										<ul class="actions">
											<li><a href="#" class="button special color2 circle icon fa-cog">Icon</a></li>
											<li><a href="#" class="button circle icon fa-diamond">Icon</a></li>
										</ul>
									</div>
									<div class="span-4-5">
										<h3 class="major">Form</h3>
										<form method="post" action="#">
											<div class="field third">
												<label for="demo-name">Name</label>
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
											</div>
											<div class="field third">
												<label for="demo-email">Email</label>
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
											</div>
											<div class="field third">
												<label for="demo-category">Category</label>
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="">-</option>
														<option value="1">Manufacturing</option>
														<option value="1">Shipping</option>
														<option value="1">Administration</option>
														<option value="1">Human Resources</option>
													</select>
												</div>
											</div>
											<div class="field quarter">
												<input type="radio" id="demo-priority-low" name="demo-priority" class="color2" checked />
												<label for="demo-priority-low">Low Priority</label>
											</div>
											<div class="field quarter">
												<input type="radio" id="demo-priority-high" name="demo-priority" class="color2" />
												<label for="demo-priority-high">High Priority</label>
											</div>
											<div class="field quarter">
												<input type="checkbox" id="demo-copy" name="demo-copy" class="color2" />
												<label for="demo-copy">Email a copy</label>
											</div>
											<div class="field quarter">
												<input type="checkbox" id="demo-human" name="demo-human" class="color2" checked />
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												<label for="demo-message">Message</label>
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="2"></textarea>
											</div>
											<ul class="actions">
												<li><input type="submit" value="Send Message" class="special color2" /></li>
												<li><input type="reset" value="Reset" /></li>
											</ul>
										</form>
									</div>
								</div>
							</section>

						<!-- Copyright -->
							<div class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="JS/jquery.min.js"></script>
			<script src="JS/skel.min.js"></script>
			<script src="JS/main.js"></script>
			<script src="JS/TimeCircles.js"></script>
			<script src="JS/custom.js"></script>
			<script src="JS/weather.js"></script>
	</body>
</html>
